<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stump_stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>stump_move_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,65},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>stump_move_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,65},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>stump_move_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,65},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>stump_move_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,65},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>stump_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,130},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>stump_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,195},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>stump_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,195},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>stump_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,195},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>

        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Stump.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:578c5ceb929cef00310e627b1905ccec$</string>
            <key>textureFileName</key>
            <string>Stump.png</string>
        </dict>
    </dict>
</plist>
