/*/
!Classes/
!Resources/

# android project
!proj.android
proj.android/assets/
proj.android/bin/
proj.android/gen/
proj.android/libs/
proj.android/local.properties
proj.android/obj/

# win32 project
!proj.win32.github
proj.win32.github/.vs/
proj.win32.github/Debug/
proj.win32.github/Debug.win32/
proj.win32.github/Release/
proj.win32.github/Release.win32/
proj.win32.github/touhou-game.sdf

# general temporaryy files
*~
*.swp

# tag files(linux only)
GPATH
GRTAGS
GTAGS
