<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{16,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,256}}</string>
                <key>sourceSize</key>
                <string>{16,256}</string>
            </dict>
            <key>b5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,16},{16,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,256}}</string>
                <key>sourceSize</key>
                <string>{16,256}</string>
            </dict>
            <key>b5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,32},{16,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,256}}</string>
                <key>sourceSize</key>
                <string>{16,256}</string>
            </dict>
            <key>b5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,48},{16,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,256}}</string>
                <key>sourceSize</key>
                <string>{16,256}</string>
            </dict>
            <key>b5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,64},{16,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,256}}</string>
                <key>sourceSize</key>
                <string>{16,256}</string>
            </dict>
            <key>b5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,80},{16,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,256}}</string>
                <key>sourceSize</key>
                <string>{16,256}</string>
            </dict>
            <key>b5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,96},{16,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,256}}</string>
                <key>sourceSize</key>
                <string>{16,256}</string>
            </dict>
            <key>b5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,112},{16,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,256}}</string>
                <key>sourceSize</key>
                <string>{16,256}</string>
            </dict>
            <key>b5_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{16,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,256}}</string>
                <key>sourceSize</key>
                <string>{16,256}</string>
            </dict>
            <key>b5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,144},{16,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,256}}</string>
                <key>sourceSize</key>
                <string>{16,256}</string>
            </dict>
            <key>b5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,160},{16,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,256}}</string>
                <key>sourceSize</key>
                <string>{16,256}</string>
            </dict>
            <key>b5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,176},{16,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,256}}</string>
                <key>sourceSize</key>
                <string>{16,256}</string>
            </dict>
            <key>b5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,192},{16,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,256}}</string>
                <key>sourceSize</key>
                <string>{16,256}</string>
            </dict>
            <key>b5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,208},{16,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,256}}</string>
                <key>sourceSize</key>
                <string>{16,256}</string>
            </dict>
            <key>b5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,224},{16,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,256}}</string>
                <key>sourceSize</key>
                <string>{16,256}</string>
            </dict>
            <key>b5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,240},{16,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,256}}</string>
                <key>sourceSize</key>
                <string>{16,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>laser1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:578c5ceb929cef00310e627b2905ccec$</string>
            <key>textureFileName</key>
            <string>laser1.png</string>
        </dict>
    </dict>
</plist>
